h3{
  font-family: 'Old Standard TT', serif;
}
.top{
  margin-top: 5%;
}
.titlename{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  margin: 30px 30px 0px 30px;
  background-color: #7D9D9C;
  font-family: 'Old Standard TT', serif;
}
.Cart{
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 10px 40px #7D9D9C;
 margin: 20px auto 20px auto;

}
.slidemoveimg{
  margin: 80px 50px 50px 50px;
}
.testimonial-image{
  width: 600px;
  height: 350px;
}
.option{
  padding: 20% 10%;
}
.Obed{
  padding-top: 10px;
}
.space{
  padding-left: 8px;
}
.enter{
  padding-top: 10px;
}
.Omeal{
  padding-top: 5px;
}
.Odate{
  padding-top: 5px;
}
.RInfo{
  padding: 5% 10%;
}
.accordion-body{
  text-align: left;
}
.middle-text{
  padding: 5%;
  text-align: center;
}
.accordion-button{
  font-family: 'Merriweather', serif;
}
.submit-btn{
  margin: 10% auto 0% auto;
}
