h1{
  text-align: center;
}
a{
  color: black;
}
hr{
  border-top-style:dotted;
  border-width: thick;
  width:80%;
  color:#6B03F0;
}
/* toppic */
.top{
  background-color: #CFBCF2;
  height: 150px;
}
.toppic{
  height:100px;
  width:100px;
  border-radius: 80%;
  margin-top: 25px;
  margin-left:500px;
  display: inline-block;
}
.toplink{
  color: black;
  font-family: 'Itim', cursive;
  display:inline-box;
  position:relative;
  left:400px;
  bottom:50px;
}
/* Introduction */
.intro{
  height: 500px;
  background-color: #CFBCF2;
  margin-top: 0px;
}
.intro-me{
  font-size: 1.5em;
  font-family: 'Pacifico', cursive;
  display: inline-block;
  margin-top: 50px;
  position: relative;
  left: 750px;
}
.intro-text{
  font-size: 2em;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  display: inline-block;
  position:relative;
  top: 90px;
  left: 300px;
}
.intro-abouttext{
  font-size: 1em;
  text-align: center;
  font-family: 'Handlee', cursive;
  display: inline-block;
  margin:50px 100px auto 100px;
}
/* Personal Details */
.PD{
  height: 800px;
  background-color: #EEDFF3;
  margin:auto 200px auto 200px;
}
.PD-text{
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  padding-top:5px;
  position: relative;
  bottom: 200px;
  left: 400px;
}
.PD-circle{
  display: inline-block;
  background-color: #F0CAC4;
  height: 600px;
  width: 600px;
  border-radius:50%;
  margin-top:100px;
}
.PD-detail{
  display: inline-block;
  font-family: 'Handlee', cursive;
  position: relative;
  left: 210px;
  top: 150px;
}
.PD-img{
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  left: 100px;
  top: 100px;
  border-radius: 30%;
}
/* Work Experiences */
.WE{
  height: 1000px;
  background-color: #EEDFF3;
  margin:auto 200px auto 200px;
}
.WE-text{
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  padding-top:5px;
  position: relative;
  bottom: 310px;
  left: 850px;
}
.WE-circle{
  display: inline-block;
  background-color: #EFF0C4;
  height: 800px;
  width: 800px;
  border-radius:50%;
  margin-top:100px;
  margin-left: 350px;
}
.WE-detail{
  display: inline-block;
  font-family: 'Handlee', cursive;
  position: relative;
  left: 90px;
  top: 190px;
}
.WE-img{
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  left: 150px;
  bottom: 550px;
  border-radius: 30%;
}
/* langueges Skills */
.LS{
  height: 700px;
  background-color: #EEDFF3;
  margin:auto 200px auto 200px;
}
.LS-text{
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  padding-top:5px;
  position: relative;
  bottom: 40px;
  left: 450px;
}
.LS-circle{
  display: inline-block;
  background-color: #F0C4D7;
  height: 500px;
  width: 500px;
  border-radius:50%;
  margin-top:100px;
  margin-left: 100px;
}
.LS-detail{
  display: inline-block;
  font-family: 'Handlee', cursive;
  position: relative;
  left: 120px;
  top: 190px;
}
.LS-img{
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  left: 100px;
  top: 250px;
  border-radius: 30%;
}
/* Educations */
.E{
  height: 1000px;
  background-color: #EEDFF3;
  margin:auto 200px auto 200px;
}
.E-text{
  display: inline-block;
  font-family: 'Caveat Brush', cursive;
  padding-top:5px;
  position: relative;
  bottom: 40px;
  left: 900px;
}
.E-circle{
  display: inline-block;
  background-color: #F0D5C4;
  height: 700px;
  width: 700px;
  border-radius:50%;
  margin-top:100px;
  margin-left: 500px;
}
.E-detail{
  display: inline-block;
  font-family: 'Handlee', cursive;
  position: relative;
  left: 150px;
  top: 250px;
}
.E-img{
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  left: 230px;
  bottom: 500px;
  border-radius: 30%;
}
/* Contact Me */
.CM{
  height: 300px;
  background-color: #EEDFF3;
  margin:auto 200px auto 200px;
}
.CM-text{
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2em;
  padding-top: 50px;
  margin-top: 0px;
}
.CM-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: #9360EC;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:inline-block;
  position:relative;
  left:650px;
}
.CM-button:hover {
  background: #7700ff;
  /* background-image: -webkit-linear-gradient(top, #7700ff, #a200ff);
  background-image: -moz-linear-gradient(top, #7700ff, #a200ff);
  background-image: -ms-linear-gradient(top, #7700ff, #a200ff);
  background-image: -o-linear-gradient(top, #7700ff, #a200ff);
  background-image: linear-gradient(to bottom, #7700ff, #a200ff); */
  text-decoration: none;
}
/* Bottom  */
.bottom{
  background-color: #CFBCF2;
  height: 150px;
}
.sm{
  text-align: center;
  padding-top: 50px;
}
